osf-tcp/src/main/resources/META-INF/osf-tcp.xsd

<?xml version="1.0" encoding="utf-8" ?>
<schema
        xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.osleague.com/schema/osf/tcp"
        xmlns:tns="http://www.osleague.com/schema/osf/tcp"
        elementFormDefault="qualified"
        >

    <element name="application">
        <complexType>
            <attribute name="id" type="string" use="required"/>
            <attribute name="clientId" type="string" use="optional"></attribute>
            <attribute name="address" type="string" use="required"/>
        </complexType>
    </element>

</schema>